/* * {
    border : 2px solid red;
} */

.wrap {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 0.5in [start] 1.25in 5in 1.25in [end] 0.5in 1fr;
}

@media (max-width: 8.5in) {
  .wrap {
    grid-template-columns: 1fr 5% [start] 5% 80% 5% [end] 5% 1fr;
  }
}

body {
  margin: auto;
  background: repeating-linear-gradient(
    0deg,
    #1b512d,
    #0f1707
  );
  /* background: #0f1707; */
}

#wrap {
  width: 70%;
  max-width: 45em;
  margin: 0 auto;
  position: relative;
  min-height: 100%;
  height: auto;
  /* margin-left: -36px; */
}

#wrap > footer {
  padding: 1em 2em;
  text-align: center;
  background-color: #fff;
  position: relative;
  bottom: 0;
  border-bottom-left-radius: 10px;
  /* -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px; */
}

.banner {
  margin-left: -36px;
  border-left-width: 36px;
  border-left-color: #b1cf5f;
  border-left-style: solid;
}

.bannerMid {
  color: #fff;
  background-color: #1b512d;
  z-index: 15;
  height: 22px;
  padding: 0.5em 35px;
  border: 2px solid;
  border-color: #1b512d transparent transparent transparent;
}

.bannerMid:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: relative;
  left: -73px;
  top: -10px;
  border-left: 36px solid transparent;
  border-right: 25px solid transparent;
  border-top: 42px solid #1b512d;
  border-color: #1b512d transparent transparent transparent;
}

.bannerMid:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: relative;
  right: -634px;
  bottom: 52px;
  border-left: 50px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 42px solid #1b512d;
}
.bannerRight {
  border-right-width: 35px;
  border-right-style: solid;
  border-right-color: #b1cf5f;
  margin-right: -35px;
  padding-left: 35px;
}

.bannerBottom {
  color: #fff;
  background-color: #6a6a6a;
  z-index: 1500;
  height: 22px;
  padding: 0.5em 35px;
}

.bannerBottom:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: relative;
  left: -108px;
  top: -48px;
  border: 39px solid;
  border-color: transparent transparent #6a6a6a transparent;
}

.contactDetails{
  display : flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content : space-between;
}

.contactDetails > *{
  flex-grow: 1;
}

.bannerBottom:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: relative;
  right: -682px;
  bottom: 88px;
  border: 20px solid;
  border-color: #6a6a6a transparent transparent #6a6a6a;
}

.navbar {
  display: flex;
  width: 100%;
}

.nav-list {
  width: 25%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  /*  align-items: center;
    justify-content: center;*/
}

.nav-list li {
  font-family: arial;
  list-style: none;
  padding: 10px;
  font-size: 16px;
}

.nav-list li a {
  text-decoration: none;
  color: #def4c6;
  float: right;
}

.nav-list li a:hover {
  text-decoration: none;
  color: #b1cf5f;
}

.midNav {
  width: 50%;
  color: #def4c6;
  font-size: 40px;
  font-family: 'cambria';
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}

.logo {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.logo img {
  width: 60%;
  height: 35%;
  object-fit: cover;
  border: 3px solid #def4c6;
  border-radius: 15px;
}

.background {
  background: rgba(0, 0, 0, 0.7)
    url('../images/fabien-martin-srgUf2-Qcms-unsplashh.jpg');
  background-size: cover;
  background-blend-mode: darken;
}

.background2 {
  background: #def4c6;
  background-size: cover;
  background-blend-mode: lighten;
  color: #1b512d;
}

.firstSection {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sectionHeaders {
  color: #1b512d;
  font-family: montserrat, sans-serif;
  font-weight: 700;
  line-height: 1.15em;
  margin-bottom: 0.5em;
  padding-left: 15px;
}

.wrapper {
  flex-wrap: wrap;
  margin-top: 40px;
  margin-left: 15px;
  margin-right: 15px;
}

table.recentPosts {
  display: table;
  border-spacing: 0px;
  border-collapse: collapse;
  text-indent: initial;
}

tr.articleRow time {
  /* border : 2px solid red; */
}

th.recentPostsCells,
td.recentPostsCells {
  display: table-cell;
  padding-top: 0.3em;
  
}

a {
  text-decoration: none;
  color: #1b512d;
}

span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* .sectionHeadings{
  padding-bottom: 2px;
} */

.skillsSection{
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.skillItem{
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  grid-template-columns: 1fr 1fr auto;
}

.skillHeader{
  font-weight: bold;
  flex-wrap: nowrap;
  flex-basis : 20%
}

.skillDesc{
  font-style: italic;
  flex-basis: 75%;
}

.skillsSection{
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  grid-template-columns: 1fr 1fr auto;
}

.certItem{
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  grid-template-columns: 1fr 1fr auto;
}

.certName{
  font-weight: bold;
  flex-wrap: nowrap;
  flex-basis : 75%
}

.certBadge{
  
  flex-basis: 20%;
}
