* {
    margin: 0;
    padding: 0;
}

.mainBody{
    display: grid;
    grid-template-columns: 1fr 0.5in [start] 1.25in 5in 1.25in [end] 0.5in 1fr;
}

body {
    margin: auto;
    background: repeating-linear-gradient(-45deg, #000 0px, #000 2px, #333 3px, #333 6px, #000 6px);
}

#wrap {
    width: 70%;
    max-width: 45em;
    margin: 0 auto;
    position: relative;
    min-height: 100%;
    height: auto;
}

#wrap>footer {
    padding: 1em 2em;
    text-align: center;
    background-color: #fff;
    position: relative;
    bottom: 0;
    border-bottom-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
}

.banner {
    margin-left: -36px;
    border-left-width: 36px;
    border-left-color: #bebebe;
    border-left-style: solid;
    /*    -moz-border-image: url(../images/bannerPat.jpg) 0 0 0 36 repeat;
    -webkit-border-image: url(../images/bannerPat.jpg) 0 0 0 36 repeat;
    -o-border-image: url(../images/bannerPat.jpg) 0 0 0 36 repeat;
    border-image: url(../images/bannerPat.jpg) 0 0 0 36 repeat;*/
}

.bannerMid {
    color: #fff;
    background-color: #6a6a6a;
    z-index: 1500;
    height: 22px;
    padding: .5em 35px;
}

.bannerMid:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: relative;
    left: -72px;
    top: -8px;
    border: 39px solid;
    border-color: #6a6a6a transparent transparent transparent;
}

.bannerMid:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: relative;
    right: -682px;
    bottom: 88px;
    border: 20px solid;
    border-color: transparent transparent #6a6a6a #6a6a6a;
}

.bannerRight {
    border-right-width: 35px;
    border-right-style: solid;
    border-right-color: #bebebe;
    margin-right: -35px;
    padding-left: 35px;
    /*        -moz-border-image: url(../images/bannerPat.jpg) 0 35 0 0 repeat;
        -webkit-border-image: url(../images/bannerPat.jpg) 0 35 0 0 repeat;
        -o-border-image: url(../images/bannerPat.jpg) 0 35 0 0 repeat;
        border-image: url(../images/bannerPat.jpg) 0 35 0 0 repeat;*/
}

.bannerBottom {
    color: #fff;
    background-color: #6a6a6a;
    z-index: 1500;
    height: 22px;
    padding: .5em 35px;
}

.bannerBottom:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: relative;
    left: -108px;
    top: -48px;
    border: 39px solid;
    border-color: transparent transparent #6a6a6a transparent;
}

.bannerBottom:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: relative;
    right: -682px;
    bottom: 88px;
    border: 20px solid;
    border-color: #6a6a6a transparent transparent #6a6a6a;
}

.navbar {
    display: flex;
    width: 100%;
}

.nav-list {
    width: 25%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    /*  align-items: center;
    justify-content: center;*/
}

.nav-list li {
    font-family: arial;
    list-style: none;
    padding: 10px;
    font-size: 16px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    float: right;
}

.nav-list li a:hover {
    text-decoration: none;
    color: lightgray;
}

.midNav {
    width: 50%;
    color: white;
    font-size: 40px;
    font-family: 'cambria';
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

.logo {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.logo img {
    width: 40%;
    height: 29%;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 15px;
}


.background {
    background: rgba(0, 0, 0, 0.7) url('../images/fabien-martin-srgUf2-Qcms-unsplash.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.background2 {
    background: rgba(0, 0, 0, 1);
    background-size: cover;
    background-blend-mode: lighten;
    color: white;
}

.firstSection {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.sectionHeaders {

    color: white;
    font-family: montserrat, sans-serif;
    font-weight: 700;
    line-height: 1.15em;
    margin-bottom: 0.5em;
    padding-left: 15px;
}

.wrapper {
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: 15px;
}

table.recentPosts {
    display: table;
    border-spacing: 0px;
    border-collapse: collapse;
    text-indent: initial;
}


tr.articleRow time {
    padding: 1em;
}

th.recentPostsCells,
td.recentPostsCells {
    display: table-cell;
    padding-top: 0.3em;
    
}


a{
    text-decoration: none;
    color: white;
}

span {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}